@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* body {
  background-color: rgb(35, 35, 52);
} */

@theme {
  --roboto--: "Atkinson Hyperlegible", sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}
